{% extends "base.html" %}
{% block content %}
<div class="bg-white padding-l round content shadow t-center" style="margin-bottom:5em;">

<h1>My Book</h1>
<theboxes>
<sp></sp>
	{% for i in dm %}
	<box col="6">
		<inner>
            <img src='{{i.Picture.url}}' style="width:50%;height:50%">					
			<sp></sp> 
			{% comment %} <h2><a href="{% url 'requestdm' %}">{{dm.NameDM}}</a></h2> {% endcomment %}
			<h2><a href="#">{{i.NameDM}}</a></h2>
		</inner>
	</box>
	<box col="6">
		<inner>
					ชื่อหนังสือ : {{i.NameB}}
					<sp></sp>
					ชื่อผู้แต่ง : {{i.Author}}
					<sp></sp>
					
                    {% if rm.typee == 'cartoon' %}
						ประเภทหนังสือ : การ์ตูน
					<sp></sp>	
					{% endif %}
					{% if rm.typee == 'fiction' %}
						ประเภทหนังสือ : นิยาย
					<sp></sp>
					{% endif %}
					{% if rm.typee == 'documentary' %}
						ประเภทหนังสือ : สารคดี
					<sp></sp>
					{% endif %}
					{% if rm.Typee == 'fairy' %}
						ประเภทหนังสือ : นิทาน
					<sp></sp>
					{% endif %}

					ปีที่พิมพ์: {{i.Year}}
					<sp></sp>
					ภาษา: {{i.Language}}
					<sp></sp>
					ที่อยู่:  {{i.Contact}}
					<sp></sp>
					รายละเอียดหนังสือ:  {{i.Detail}}
					<sp></sp>
					ราคา: {{i.Price}} บาท</a>
					<sp></sp>
					{% comment %} <form method="POST" action="{% url 'ChangeStatus' %}" enctype="multipart/form-data"> {% endcomment %}
				<form method="POST" action="#" enctype="multipart/form-data">
                	{% csrf_token %}
					
					{% comment %} <div class="name">
					    <button type="submit" class="btn btn-primary" style="background-color: #75B272; font-family: 'Athiti', sans-serif;" >แก้ไขหนังสือ</button>
				    </div>  {% endcomment %}
					<sp></sp>
                    <div class="name">
						{% comment %} <input type="submit" class="btn btn-danger" value="Yes" /> {% endcomment %}
						<a href="/"style="margin-left:5%;width:20%" >
					    	<button type="submit" class="btn btn-danger" name='busy' value="Yes" style="background-color: red; font-family: 'Athiti', sans-serif;" >ลบหนังสือนี้</button>
				    	</a>
					</div> 
                </form>
				{% comment %} <a href="{% url 'logout' %}"style="margin-left:5%;width:20%" >
              <button class="btn my-2 my-sm-0" type="button" style="width:100%;background-color:#E7C4C2;">
                Logout
              </button>
            </a> {% endcomment %}
		
		</inner>
	</box>
	<sp></sp>
	{% endfor %}
</theboxes>		
</div>
{% endblock %}