{% extends "base.html" %}
{% block content %}
<div class="bg-white padding-l round content shadow t-center" style="margin-bottom:5em;">
<theboxes>
<h1>My Book</h1>
<sp></sp>
	<box col="6">
		<inner>
            <img src='{{dm.Picture.url}}' style="width:50%;height:50%">					
			<sp></sp>
			{% comment %} <h2><a href="{% url 'requestdm' %}">{{dm.NameDM}}</a></h2> {% endcomment %}
			<h2><a href="#">{{dm.NameDM}}</a></h2>
		</inner>
	</box>
	<box col="6">
		<inner>
					ชื่อหนังสือ : {{dm.NameB}}
					<sp></sp>
					ชื่อผู้แต่ง : {{dm.Author}}
					<sp></sp>
					
                    {% if rm.typee == 'cartoon' %}
						ประเภทหนังสือ : การ์ตูน
					<sp></sp>	
					{% endif %}
					{% if rm.typee == 'fiction' %}
						ประเภทหนังสือ : นิยาย
					<sp></sp>
					{% endif %}
					{% if rm.typee == 'documentary' %}
						ประเภทหนังสือ : สารคดี
					<sp></sp>
					{% endif %}
					{% if rm.Typee == 'fairy' %}
						ประเภทหนังสือ : นิทาน
					<sp></sp>
					{% endif %}

					ปีที่พิมพ์: {{dm.Year}}
					<sp></sp>
					ภาษา: {{dm.Language}}
					<sp></sp>
					วันที่ลงประกาศ: {{dm.start_time}}
					<sp></sp>
					ผู้ลงขาย: {{dm.user_user_id}}
					<sp></sp>
					ที่อยู่:  {{dm.Contact}}
					<sp></sp>
					รายละเอียดหนังสือ:  {{dm.Detail}}
					<sp></sp>
					<a style="color: red; font-weight: bold; font-size: 25px;">ราคา: {{dm.Price}} บาท</a>
					{% comment %} <form method="POST" action="{% url 'ChangeStatus' %}" enctype="multipart/form-data"> {% endcomment %}
				<form method="POST" action="#" enctype="multipart/form-data">
                	{% csrf_token %}
                    <div class="name">
					    <button type="submit" class="btn btn-danger" name='busy' >ไม่มีห้องว่างแล้ว</button>
				    </div> 
                </form>
		</inner>
	</box>	
</theboxes>		
</div>
{% endblock %}