{% extends "base.html" %}
{% block content %}
{% load static %}

	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<div class="bg-white padding-l round content shadow">
<form method="POST" action="{% url 'Add' %}" enctype="multipart/form-data">
{% csrf_token %}
	<div class="container">
	<h1 class="cl-ci4">ลงทะเบียนหอพัก</h1>
	<sp></sp>
	<div class="input-group mb-3">
			<div class="input-group-prepend">
				<label class="input-group-text" for="inputGroupSelect01">เลือกประเภทโพสต์</label>
			</div>
			<select class="custom-select" id="inputGroupSelect01" name="typepost" required>
				<option value="buy">ประกาศซื้อ</option>
				<option value="sell">ประกาศขาย</option>
			</select> </div>
         <div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-default">ชื่อหนังสือ</span>
			</div>
			<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="nameBook" required>
		</div> 
             <div class="input-group mb-3">
			<div class="input-group-prepend">
				<label class="input-group-text" for="inputGroupSelect01">เลือกหมวดหมู่</label>
			</div>
			<select class="custom-select" id="inputGroupSelect01" name="typebook" required>
				<option value="cartoon">หนังสือการ์ตูน</option>
				<option value="fiction">หนังสือนิยาย</option>
                <option value="documentary">หนังสือสารคดี</option>
				<option value="fairy">หนังสือนิทาน</option>
			</select> </div>
         <div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-default" >ชื่อผู้แต่ง</span>
			<input type="text" class="form-control" name="authorname" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
		</div> 
        <div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-default" >ปีที่พิมพ์</span>
			<input type="text" class="form-control" name="datey" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
		</div> 
        <div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-default" >ภาษา</span>
			<input type="text" class="form-control" name="language" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
		</div> 
        <div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-default" >ช่องทางติดต่อ</span>
			<input type="text" class="form-control" name="contact" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
		</div> <div class="input-group-prepend">
		<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-default" >ราคา</span>
			<input type="text" class="form-control" name="Price" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
		</div> <div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-default" >รายละเอียด</span>
			<input type="text" class="form-control" name="more" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
		</div> 
        <label>picture</label>
        <div class="custom-file">
			<input type="file" class="custom-file-input" name="picturebook" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
			<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
		</div>   
		<sp class="vl"></sp>
		<button type="submit" class="btn">Success</button>
	</div>
</form>
</div>
<sp class="xl"></sp>
<style>
	.btn {
    color: #fff !important;
    background: #F9A825;
}
</style>
{% endblock %}