{% extends "base.html" %}
{% block content %}
<style>
	/* .interes{
		text-align: center;
	}
	.active{
		height: 100%;
		width: 100%;
	}
	.comm{
		margin-top: 5em;
		position: static;
	}
	img{
		position: static;
	} */
h1{
  text-align: center;
  font-family: 'Athiti', sans-serif;
  font-weight: 400;
  font-size: 36px;
}

h4 {
	font-family: 'Athiti', sans-serif;
	color: #926E6E;
	font-weight: bold;
}

h2, h3 {
	font-family: 'Athiti', sans-serif;
	color: black;
	font-weight: bold;
}
div.container {
    margin:0 auto;
    max-width: 1000px;
    position: relative;
}

div.container>div.prev,
div.container>div.next {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 40px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

div.container>div.prev {
    left: 0;
}



div.container>div.prev>.arrow-left {
    height: 20px;
    width: 20px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-20%, -50%) rotate(225deg);
    -ms-transform: translate(-20%, -50%) rotate(225deg);
    -o-transform: translate(-20%, -50%) rotate(225deg);
    transform: translate(-20%, -50%) rotate(225deg);
}

div.container>div.next {
    right: 0;
}

div.container>div.next>.arrow-right {
    height: 20px;
    width: 20px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-70%, -50%) rotate(45deg);
    -ms-transform: translate(-70%, -50%) rotate(45deg);
    -o-transform: translate(-70%, -50%) rotate(45deg);
    transform: translate(-70%, -50%) rotate(45deg);
}

#ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    height: 500px;
    max-width: 100%;
}

#li {
    min-width: 100%;
    max-width: 1000px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.6s ease-in-out;
}

#li.visible {
    opacity: 1;
    transition: 0.6s ease-in-out;
}

#li>img {
    display: block;
    width: 100%;
    height: 100%;
}

</style>

<div class='container' style="padding-top: 2%; padding-bottom: 2%;">
	<div class="bg-white padding-l round content shadow">
		<theboxes class="spacing-l -clip">
			<box col="6">
				<inner>	
					<div class="container round">
						<div class="prev">
							<div class="arrow-left"></div>
						</div>
						<ul class="slider" id='ul'>
							<li class="visible" id='li'>
								<img src="{{dm.Picture.url}}">
							</li>
							{% comment %} {% if pc.Room_picture2 %}
							<li id='li'><img src="{{pc.Room_picture2.url}}"></li>
							{% endif %}
							{% if pc.Room_picture3 %}
							<li id='li'><img src="{{pc.Room_picture3.url}}"></li>
							{% endif %}
							{% if pc.Room_picture4 %}
							<li id='li'><img src="{{pc.Room_picture4.url}}"></li>
							{% endif %}
							{% if pc.Room_picture5 %}
							<li id='li'><img src="{{pc.Room_picture5.url}}"></li>
							{% endif %}	 {% endcomment %}
						</ul>
						<div class="next">
							<div class="arrow-right"></div>
						</div>
					</div>
				</inner>
			</box>
			<box col="6">
				<inner>
					<h2>{{dm.NameB}}</h2>
					<h3>{{dm.Author}}</h2>
					{% comment %} ประเภทของหนังสือ {% endcomment %}
					<sp></sp>
					{% if rm.select == 'buy' %}
						ประกาศ ซื้อ
					<sp></sp>
					{% endif %}
					{% if rm.select == 'sell' %}
						ประกาศ ขาย
					<sp></sp>
					{% endif %}	
					{% if rm.typee == 'cartoon' %}
						ประเภทหนังสือ : การ์ตูน
					<sp></sp>	
					{% endif %}
					{% if rm.typee == 'fiction' %}
						ประเภทหนังสือ : นิยาย
					<sp></sp>
					{% endif %}
					{% if rm.typee == 'documentary' %}
						ประเภทหนังสือ : สารคดี
					<sp></sp>
					{% endif %}
					{% if rm.Typee == 'fairy' %}
						ประเภทหนังสือ : นิทาน
					<sp></sp>
					{% endif %}
					ปีที่พิมพ์: {{dm.Year}}
					<sp></sp>
					ภาษา: {{dm.Language}}
					<sp></sp>
					ที่อยู่:  {{dm.Contact}}
					{% comment %} <sp class="l"></sp>
					<sp></sp>
					{% endcomment %}
					<sp></sp>
					รายละเอียดหนังสือ:  {{dm.Detail}}
					<sp></sp>
					<a style="color: red; font-weight: bold; font-size: 25px;">ราคา: {{dm.Price}} บาท</a>
					<sp class="l"></sp>
					<div style="display:inline;">
					{% if user.groups.all.0.name == "User"  %}
							<form method="POST" action="{% url 'history' dm.id %}" enctype="multipart/form-data">
								{% csrf_token %}
								<button class="btn inline-block" name='look'>ฉันสนใจจองหอพักนี้</button>
								<a href="{%url 'index' %}" class="">กลับไปดูหอพักอื่นๆ</a>
							</form>
						{% endif %}
					</div>
				</inner>
			</box>
			<box col="12">
				<inner>
					<h4>Comment</h4>
					{% if user.is_authenticated %}
						<form method='POST' action="{% url 'create_comment' rm.id %}">
							{% csrf_token %}
							<div class="form-group comm">
								<input type="Comment" rows="20" size="95" name='comment' style="border-radius: 20px; margin-top: 2%;">
								<button type="submit" class="btn" style="margin-top: 2%; background-color: #FC5E5E;">เขียน Comment</button>
							</div>
						</form>
						{% endif %}
						{% for di in mas%}
							<sp></sp>
							<hr>>
							{{ di.message}}<sp></sp>
							create_by : {{di.create_by}}
							
						{% endfor %}
				</inner>
			</box>
		</theboxes>
	</div>
</div>

<script>
	var prev = document.querySelector('div.prev');
var next = document.querySelector('div.next');
var index = 0;
var lis = document.querySelectorAll('ul.slider li');
var count = lis.length;

prev.addEventListener('click', function() {
    lis[index].classList.remove('visible');
    index--;
    if (index < 0){
        index = count-1;
    }

    lis[index].classList.add('visible');
});

next.addEventListener('click', function() {
    lis[index].classList.remove('visible');
    index++;
    if (index > count-1){
        index = 0;
    }

    lis[index].classList.add('visible');
});
</script>
{% endblock %}